:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8); 
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body { 
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.wrapper {
  display: grid; 
  grid-gap: 20px;
}

.btn {
  background: var(--dark);
  color: var(--light);
  text-decoration: none;
  padding: 0.6rem 1.3rem; 
  border-radius: 3px;
}

img {
/*each picture to take up 100% of its container */
  max-width: 100%;
}

/*NAVIGATON*/
.main-nav ul { /*spread nav items horizontally */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
  padding: 0; 
  list-style: none; 
}

.main-nav a { 
  background: var(--primary);
  display: block; 
  color: var(--dark);
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  transition: 0.3s; /*added transition for hover effect*/
}

.main-nav a:hover {
  color: var(--primary);
  background: var(--dark);
}

/* Top container */
.top-container {
  display: grid;
  grid-gap: 20px; /*seperating items once again*/
  grid-template-areas: 
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}
/*use grid-area  assign the template areas above to their rightful classes */
.showcase{
  grid-area: showcase;
  min-height: 400px; /*box more height*/
  background: url("https://i.postimg.cc/DyvSnXjy/emile-perron-190221-unsplash.jpg");
  background-size: cover; /*shrunk oversize image*/
  background-position: center; 
  padding: 2rem; /*use grid to lay out the items on a page and use flexbox to move the content inside of those items*/
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  color: var(--light);
  font-size: 3.5rem;
  margin-bottom: 0; /*convergence of objects*/
}
.showcase p {
  color: var(--light);
  margin-top: 0; /*convergence of objects*/
  font-size: 1.3rem;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  min-width: 175px; 
}

.top-box .price {
  font-size: 2.0rem;
  margin-top: 0;
}

.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}
/*RESPONSIVE PART*/

.boxes {
  display: grid;
/*every item even ones added in the future to be at a minimum of 200px and to take up 1fr of space. also future media queries wont need to be as specific*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /*gap between each div*/
  text-align: center;
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1rem;
  box-shadow: var(--shadow);
}

/* INFO SECTION */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--primary);
  box-shadow: var(--shadow);
  grid-gap: 30px;
  padding: 3rem; /*create spacing between blocks and image*/
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

footer {
  background: var(--dark);
  color:var(--light);
  text-align: center;
  margin-top: 2rem;
}
/* ADAPTION GOR OTHER GADJETS*/
/* tablet verse*/
@media(max-width: 700px){
   .top-container {
      grid-template-areas: 
      "showcase showcase"
      "top-box-a top-box-b";
  }
  
   .top-container .top-box {
    padding-bottom: 10px;
  }
  
  .showcase h1 {
    font-size: 2.5rem;
  }
  
  .main-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .info {
    grid-template-columns: 1fr;
  }
  
  .info .btn {
    display: block; /*occupied the width of the entire bottom/container*/
    text-align: center;
    margin: auto;
  }
}

/* mobile verse*/
@media(max-width: 500px){
  .top-container{
    grid-template-areas: 
      "showcase"
      "top-box-a"
      "top-box-b";
  }
  .top-container h1 {
    font-size: 2rem;
  }
  
  .top-container p {
    font-size: 1rem;
  }
  
  .top-container .top-box {
    padding-bottom: 10px;
  }
  
  .main-nav ul {
    grid-template-columns: 1fr;
  }
  
   .info .btn {
    display: block; 
    text-align: center;
    margin: auto;
  }
}

/*DARK MODE*/
:root{
    --primary: #6a8a6a;
    --dark: #523f52;
    --light: black;
    --shadow :  0 1px 5px rgb(63, 0, 113,0.8);
}
html{
    box-sizing: border-box;
    color: var(--white);
}
body{
    background: var(--dark);
}
.dark-mode {
  background-color: #1d1d1d;
  color: #f2f2f2;
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body { 
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.wrapper {
  display: grid; 
  grid-gap: 20px;
}

.btn {
  background: var(--dark);
  color: var(--light);
  text-decoration: none;
  padding: 0.6rem 1.3rem; 
  border-radius: 3px;
}

img {
/*each picture to take up 100% of its container */
  max-width: 100%;
}

/*NAVIGATON*/
.main-nav ul { /*spread nav items horizontally */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; 
  padding: 0; 
  list-style: none; 
}

.main-nav a { 
  background: var(--primary);
  display: block; 
  color: var(--dark);
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  transition: 0.3s; /*added transition for hover effect*/
}

.main-nav a:hover {
  color: var(--primary);
  background: var(--dark);
}

/* Top container */
.top-container {
  display: grid;
  grid-gap: 20px; /*seperating items once again*/
  grid-template-areas: 
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}
/*use grid-area  assign the template areas above to their rightful classes */
.showcase{
  grid-area: showcase;
  min-height: 400px; /*box more height*/
  background: url("https://i.postimg.cc/DyvSnXjy/emile-perron-190221-unsplash.jpg");
  background-size: cover; /*shrunk oversize image*/
  background-position: center; 
  padding: 2rem; /*use grid to lay out the items on a page and use flexbox to move the content inside of those items*/
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  color: var(--light);
  font-size: 3.5rem;
  margin-bottom: 0; /*convergence of objects*/
}
.showcase p {
  color: var(--light);
  margin-top: 0; /*convergence of objects*/
  font-size: 1.3rem;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  min-width: 175px; 
}

.top-box .price {
  font-size: 2.0rem;
  margin-top: 0;
}

.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}
/*RESPONSIVE PART*/

.boxes {
  display: grid;
/*every item even ones added in the future to be at a minimum of 200px and to take up 1fr of space. also future media queries wont need to be as specific*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; /*gap between each div*/
  text-align: center;
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1rem;
  box-shadow: var(--shadow);
}

/* INFO SECTION */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--primary);
  box-shadow: var(--shadow);
  grid-gap: 30px;
  padding: 3rem; /*create spacing between blocks and image*/
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

footer {
  background: var(--dark);
  color:var(--light);
  text-align: center;
  margin-top: 2rem;
}
